* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(22, 76, 100);
}

.main {
    border: 1px solid white;
    margin: 20px auto;
    width: 600px;
    height: 602px;
}

.main div {
    height: 200px;
    width: 200px;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 50%;
}

#red {
    background-color: red;
    position: relative;
    animation: slidein;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes slidein {
    0% {top: -200px;}
    100% {top: 0px;}
}

#yellow {
    opacity: 0;
    background-color: yellow;
    position: relative;
    animation: opac;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes opac {
    0% {opacity: 0;}
    25% {opacity: 0.25;}
    75% {opacity: 0.75;}
    100% {opacity: 1;}
}

#green {
    background-color: green;
    position: relative;
    animation: turn;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

/*HINT -   transform: rotateY(0deg);*/

@keyframes turn {
    0% {transform: rotateY(360deg);}
}